h1{
    text-align: center;
}
#grid-container{
    display: grid;
    width: 80%;
    height: 400px;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 2fr 2fr 3fr;
    background-color: gray;
    padding: 10px;
    grid-gap: 10px 10px;
    margin: 0 auto;
}
#grid-container > div{
    background-color: indianred;
    text-align: center;
    padding: 10px;
    font-size: 30px;
}